.about {
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  margin-bottom: 200px;
  scroll-margin-top: 50px;
}

.about .bar {
  margin: auto;
  margin-top: 10px;
  height: 5px;
  background-color: #e73c7e;
  width: 50%;
}

.about h1 {
  display: inline-block;
  margin: auto;
  color: #3b3b3b;
  margin-top: 60px;
}

.about h2 {
  color: #808080;
  font-size: 1.5em;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 15px;
  text-align: center;
}

.about h2 .bar {
  height: 2px;
}

.about .flexxer {
  margin: auto;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.about .flexxer .bio {
  width: 40%;
}

.about .flexxer .bio .bio-text {
  margin-top: 40px;
  text-align: justify;
}

.about .flexxer .bio .bio-text .my-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: larger;
  cursor: pointer;
}

.about .flexxer .bio .bio-text .my-cv svg {
  margin-right: 15px;
}

.about .flexxer .bio .bio-text .my-cv:hover {
  color: #e73c7e;
}

.about .flexxer .bio h2 {
  color: #3b3b3b;
  display: inline-block;
  margin: auto;
  color: #3b3b3b;
}

.about .flexxer .bio p {
  color: #808080;
}

.about .flexxer .bio .div-button {
  margin: auto;
  margin-top: 40px;
  border: solid #e73c7e 3px;
  cursor: pointer;
  width: 280px;
}

.about .flexxer .bio .div-button a {
  text-decoration: none;
}

.about .flexxer .bio .div-button p {
  display: inline-block;
  font-size: 22px;
  -webkit-transform: none;
          transform: none;
  color: black;
}

.about .flexxer .bio .div-button .icon-container {
  display: inline-block;
  margin-right: 20px;
}

.about .flexxer .bio .div-button:hover {
  color: white;
  background-color: #e73c7e;
  border: solid #e73c7e 3px;
}

.about .flexxer .bio .div-button:hover p {
  color: white;
}

.about .flexxer .tech-stack {
  width: 40%;
}

.about .flexxer .tech-stack h2 {
  color: #3b3b3b;
  display: inline-block;
  margin: auto;
  color: #3b3b3b;
}

.about .flexxer .tech-stack .icons-container {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.about .flexxer .tech-stack .icons-container div svg {
  width: 140px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .about .flexxer .tech-stack {
    margin: auto;
    width: 100%;
    margin-top: 40px;
  }
  .about .flexxer .tech-stack .icons-container div svg {
    width: 50px;
    height: 100%;
    padding: 3px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 50px;
  }
  .about .one-liner {
    width: 90%;
  }
  .about .flexxer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .about .flexxer .bio {
    margin: auto;
    margin-top: 20px;
    width: 90%;
  }
  .about .flexxer .bio .div-button {
    width: 200px;
  }
  .about .flexxer .bio .div-button p {
    font-size: medium;
  }
}
/*# sourceMappingURL=About.css.map */