@import "./variables";

.about {
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  margin-bottom: 200px;
  scroll-margin-top: 50px;
  .bar {
    margin: auto;
    margin-top: 10px;
    height: 5px;
    background-color: $bright-color2;
    width: 50%;
  }
  h1 {
    display: inline-block;
    margin: auto;
    color: $base-color2;
    margin-top: 60px;
  }
  h2 {
    color: $base-color;
    font-size: 1.5em;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 15px;
    text-align: center;
    max-width: 90%;
    .bar {
      height: 2px;
    }
  }
  .flexxer {
    margin: auto;
    margin-top: 80px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    .bio {
      width: 40%;
      .bio-text {
        margin-top: 40px;
        text-align: justify;
        .my-cv {
          display: flex;
          justify-content: space-evenly;
          font-size: larger;
          cursor: pointer;
          svg {
            margin-right: 15px;
          }
        }
        .my-cv:hover {
          color: $bright-color2;
        }
      }
      h2 {
        color: $base-color2;
        display: inline-block;
        margin: auto;
        color: $base-color2;
      }
      p {
        color: $base-color;
      }
      .div-button {
        margin: auto;
        margin-top: 40px;
        border: solid $bright-color2 3px;
        cursor: pointer;
        width: 280px;
        a {
          text-decoration: none;
        }
        p {
          display: inline-block;
          font-size: 22px;
          transform: none;
          color: black;
        }
        .envelope-icon {
          display: inline-block;
          margin-right: 20px;
          color: black;
        }
      }
      .div-button:hover {
        color: white;
        background-color: $bright-color2;
        border: solid $bright-color2 3px;
        p {
          color: white;
        }
        svg {
          color: white;
        }
      }
      // a {
      //   div {
      //     div {
      //       svg {
      //         color: black;
      //       }
      //     }
      //   }
      // }
    }
    .tech-stack {
      width: 40%;
      h2 {
        color: $base-color2;
        display: inline-block;
        margin: auto;
        color: $base-color2;
      }
      .icons-container {
        margin-top: 35px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        div {
          svg {
            width: 140px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about {
    .flexxer {
      .tech-stack {
        margin: auto;
        width: 100%;
        margin-top: 40px;
        .icons-container {
          div {
            svg {
              width: 50px;
              height: 100%;
              padding: 3px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 50px;
    .one-liner {
      width: 90%;
    }
    .flexxer {
      flex-direction: column;
      margin: auto;
      .bio {
        margin: auto;
        margin-top: 20px;
        width: 90%;
        .div-button {
          width: 200px;
          p {
            font-size: medium;
          }
        }
      }
    }
  }
}
