@import "./variables";

.footer {
  width: 100%;
  height: 150px;
  background-color: $base-color-2;
  position: relative;
  .wrapper {
    // height: 80px;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    .icon-footer-container {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-evenly;
      color: white;
      div {
        cursor: pointer;
      }
      div:hover {
        color: $bright-color2;
      }
    }
    p {
      color: white;
      font-size: small;
      margin-top: 20px;
      width: 100%;
      margin-bottom: 0;
      display: block;
    }
  }
}
