.opaque-background {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 999;
}

.modalContainer {
  width: 700px;
  z-index: 999;
  color: black;
  background-color: grey;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

.modalContainer .image-container {
  height: 450px;
  width: 700px;
  -o-object-fit: cover;
  object-fit: cover;
}

.modalContainer .image-container .modalImageURL {
  width: 100%;
  height: 100%;
}

.modalContainer .modalBottom {
  padding: 11px 20px 20px 20px;
  background-color: white;
}

.modalContainer .modalBottom .modalHeader {
  font-size: 29px;
  display: block;
  text-align: left;
  color: #3b3b3b;
}

.modalContainer .modalBottom .modalDescription {
  font-size: 14.5px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #808080;
}

.modalContainer .modalBottom .bottom-bar {
  height: 36.5px;
  width: 100%;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 95%;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 a {
  height: 100%;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 .github-div {
  height: 100%;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 .fa-github-square {
  height: 100%;
  color: #3b3b3b;
  cursor: pointer;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 .fa-github-square:hover {
  color: #23a6d5;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 .modalProjectLink {
  font-size: 13.5px;
  text-decoration: none;
  text-align: left;
  background-color: #23a6d5;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 2px;
  color: white;
}

.modalContainer .modalBottom .bottom-bar .flex-wrapper2 .modalProjectLink:hover {
  background-color: white;
  color: #23a6d5;
}

.modalContainer .modalBottom .bottom-bar .modal-form .close-btn {
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  opacity: 0.7;
  cursor: pointer;
  font-size: 3em;
  font-family: serif;
  height: 50px;
  float: right;
  line-height: 1;
}

.modalContainer .modalBottom .bottom-bar .modal-form .close-btn:before {
  content: "\d7";
}

.modalContainer .modalBottom .bottom-bar .modal-form .close-btn:hover {
  opacity: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .modalContainer {
    max-width: 582px;
    max-height: 374px;
    top: 40%;
  }
  .modalContainer .image-container {
    max-width: 582px;
    max-height: 374px;
  }
}

@media screen and (max-width: 630px) {
  .modalContainer {
    max-width: 420px;
    max-height: 270px;
  }
  .modalContainer .image-container {
    max-width: 420px;
    max-height: 270px;
  }
  .modalContainer .modalBottom .bottom-bar .flex-wrapper2 {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .modalContainer {
    max-width: 280px;
    max-height: 180px;
  }
  .modalContainer .modalBottom .modalDescription {
    font-size: 12px;
  }
  .modalContainer .modalBottom .modalHeader {
    font-size: 22px;
  }
  .modalContainer .image-container {
    max-width: 280px;
    max-height: 180px;
  }
}
/*# sourceMappingURL=modal.css.map */