@import "./variables";

.opaque-background {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 999;
}

.modalContainer {
  width: 700px;
  z-index: 999;
  color: black;
  background-color: grey;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  .image-container {
    height: 450px;
    width: 700px;
    -o-object-fit: cover;
    object-fit: cover;
    .modalImageURL {
      width: 100%;
      height: 100%;
    }
  }
  .modalBottom {
    padding: 11px 20px 20px 20px;
    background-color: white;
    .modalHeader {
      font-size: 29px;
      display: block;
      text-align: left;
      color: $base-color2;
    }
    .modalDescription {
      font-size: 14.5px;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 30px;
      color: $base-color;
    }
    .bottom-bar {
      height: 36.5px;
      width: 100%;
      .flex-wrapper2 {
        height: 100%;
        display: flex;
        float: left;
        width: 95%;
        a {
          height: 100%;
        }
        .github-div {
          height: 100%;
        }
        .fa-github-square {
          height: 100%;
          color: $base-color2;
          cursor: pointer;
        }
        .fa-github-square:hover {
          color: $bright-color3;
        }
        .modalProjectLink {
          font-size: 13.5px;
          text-decoration: none;
          text-align: left;
          background-color: $bright-color3;
          padding: 7px;
          padding-left: 14px;
          padding-right: 14px;
          margin-top: 2px;
          color: white;
        }
        .modalProjectLink:hover {
          background-color: white;
          color: $bright-color3;
        }
      }
      .modal-form {
        // position: relative;
        .close-btn {
          transition: transform 0.25s, opacity 0.25s;
          opacity: 0.7;
          cursor: pointer;
          font-size: 3em;
          font-family: serif;
          height: 50px;
          float: right;
          line-height: 1;
        }
        .close-btn:before {
          content: "\d7";
        }
        .close-btn:hover {
          opacity: 1;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modalContainer {
    max-width: 582px;
    max-height: 374px;
    top: 40%;
    .image-container {
      max-width: 582px;
      max-height: 374px;
    }
  }
}

@media screen and (max-width: 630px) {
  .modalContainer {
    max-width: 420px;
    max-height: 270px;
    .image-container {
      max-width: 420px;
      max-height: 270px;
    }
    .modalBottom {
      .bottom-bar {
        .flex-wrapper2 {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .modalContainer {
    max-width: 280px;
    max-height: 180px;
    .modalBottom {
      .modalDescription {
        font-size: 12px;
      }
      .modalHeader {
        font-size: 22px;
      }
    }
    .image-container {
      max-width: 280px;
      max-height: 180px;
    }
  }
}

/*# sourceMappingURL=modal.css.map */
